<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fontawesome4/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/less/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/less/skins/skin-green.min.css">
    <link rel="stylesheet" href="~/Content/Site.min.css">
    @RenderSection("CSS", required: false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition fixed skin-green sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        @Html.Partial("Layout/_Header")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("Layout/_Menu")

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <!-- Main Footer -->
        @Html.Partial("Layout/_Footer")

        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- JS SCRIPTS -->
    <script src="~/Content/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Content/bootstrap/bootstrap.js"></script>
    <script src="~/Content/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/toastr/toastr.js"></script>
    <script src="~/Content/AdminLTE/app.js"></script>
    <script src="~/Content/App.js"></script>
    <script src="~/Content/ko/knockout-3.3.0.js"></script>
    <script src="~/Content/ko/knockout.mapping-latest.js"></script>
    <script type="text/javascript">
        $(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "300",
                "timeOut": "10000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            function LoginBox() {
                var self = this;

                self.Email = ko.observable();
                self.Password = ko.observable();
                self.RememberMe = ko.observable(true);

                self.Login = function () {
                    window.Ultra.postJson('@Url.Action("Login", "Account")', {
                            Email: self.Email(),
                            Password: self.Password(),
                            RememberMe: self.RememberMe()
                        })
                        .success(function (data) {
                            if (data.success) {
                                location.reload();
                            } else {
                                toastr.error("Nieprawidłowy adres e-mail lub hasło");
                            }

                        });
                }

            };

            ko.applyBindings(new LoginBox(), document.getElementById("login-box"));
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>