<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            @if (User.Identity.IsAuthenticated)
            {
                <li class="active">
                    <a href="@Url.Action("Index", "User", new {Area = ""})">
                        <i class="fa fa-user"></i> <span>Moje konto</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Transactions", new {Area = ""})">
                        <i class="fa fa-bars"></i> <span>Lista transakcji</span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Owner"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building"></i> <span>Przegląd parkingów</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Parking", new {Area = "Owner"})"><i class="fa fa-car"></i>Lista parkingow</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Transactions", new {Area = "Owner"})"><i class="fa fa-line-chart"></i> Lista transakcji</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i> <span>Administracja stroną</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Parking", new {Area = "Admin"})"><i class="fa fa-car"></i>Zarządzanie parkingami</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Transactions", new {Area = "Admin"})"><i class="fa fa-line-chart"></i>Lista transakcji</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Owner", new {Area = "Admin"})"><i class="fa fa-building"></i>Firmy</a>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a href="/swagger" target="_blank"><i class="fa fa-book"></i>Dokumantacja api</a>
            </li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>