<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Link</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-link"></i> <span>Another Link</span>
                </a>
            </li>
            @if (User.IsInRole("Owner"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Przegląd parkingów</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Parking", new {Area = "Owner"})">Lista parkingow</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Transactions", new {Area = "Owner"})">Lista transakcji</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Administracja stroną</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Parking", new {Area = "Admin"})">Zarządzanie parkingami</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Transactions", new {Area = "Admin"})">Lista transakcji</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Owner", new {Area = "Admin"})">Firmy</a>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a href="/swagger" target="_blank"><i class="fa fa-book"></i>Dokumantacja api</a>
            </li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>